<h2>Ricette</h2>
<h5>Clicca per incominciare!</h5>
<div class="container-fluid">
  <button (click)="onNewClick()">Nuova Ricetta</button>
  <td *ngIf="savedElement"><app-newricetta [newRicettaSelected]="ricettaToUpload" (saveRicettaEvent)="createRicetta($event)" (updateSavedRicettaEvent)="updateRicetta($event)" (cancelSavedRicettaEvent)="cancelSavedRicetta()"></app-newricetta></td>
  <div class="row">
    <div class="col-3" *ngFor="let n of ricette; ">
      <app-elemento [ricettaRegistered]="n" (ricettaOutputEvent)="ricettaToOutput($event)" (deleteRicettaEvent)="deleteRicetta($event)" (updateRicettaEvent)="modifyRicetta($event)"></app-elemento>
</div>    


